body{
	background: url(../imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 2%;
	padding-right: 3%;
}

header h1{
	font-family: Mountains of Christmas;
	font-size: 36px;
	text-align: left;
	color: rgb(120,40,31);
	text-shadow: 5px 5px 5px #02010a;
}

header h6{
	font-family: Mountains of Christmas;
	font-size: 28px;
	text-align: right;
	color: rgb(21,67,96);
	text-shadow: 3px 3px 3px #02010a;
}

section{
	padding: 1%;
}

#busqueda{
	padding: 1%;
}

#inputbuscar{
	margin-left: 5%;
	margin-top: 1%;
}

#enlaces h4{
	color: rgb(120,40,31);
	border: 1px solid rgb(120,40,31);
	text-align: center;
	font-family: Dancing Script;
	font-size: 20px;
}

#galeria h2{
	color: rgb(21,67,96);
	text-decoration: underline;
	text-align: left;
	font-family: Mountains of Christmas;
	font-size: 26px;
}

#foto1{
	padding: 1%;
	border: 1px solid black;
	border-radius: 15%;
	padding: 5%;
	height: 100px;
}

#foto2{
	padding: 1%;
	border: 1px solid black;
	border-radius: 15%;
	padding: 5%;
	height: 100px;
}

#foto3{
	padding: 1%;
	border: 1px solid black;
	border-radius: 15%;
	padding: 5%;
	height: 100px;
}

#foto4{
	padding: 1%;
	border: 1px solid black;
	border-radius: 15%;
	padding: 5%;
	height: 100px;
}

#foto5{
	padding: 1%;
	border: 1px solid black;
	border-radius: 15%;
	padding: 5%;
	height: 100px;
}

#foto6{
	padding: 1%;
	border: 1px solid black;
	border-radius: 15%;
	padding: 5%;
	height: 100px;
}
#enlaces2 h4{
	color: white;
	text-align: justify;
	font-family: Arial;
	font-size: 16px;
	padding-left: 1%;
	background-color: rgb(21,67,96);
	border-radius: 10%;
}

#reseñas{
	padding: 1%;
}

#descripciones h3{
	color: rgb(120,40,31);
	font-family: Mountains of Christmas;
	font-size: 26px;
	padding-left: 4%;
	text-align: left;
}

#descripciones h5{
	color: rgb(21,67,96);
	font-family: Mountains of Christmas;
	font-size: 18px;
	padding-left: 4%;
	text-align: left;
}

#machaca{
	width: 100%;
	height: 250px;
	padding: 2%;
}

#tamales{
	width: 100%;
	height: 250px;
	padding: 2%;
}

p{
	padding: 2%;
	font-size: 14px;
}

#publicar{
	background-color: rgb(120,40,31);
	color: white;
	float: right;
}

#textarea{
	float: right;
}

#usuario{
	width: 100%;
}

#historial{
	border: 1px solid black;
	margin: 2%;
}

@media(max-width:991px){
	body{
		padding: 0;
	}
}

@media(min-width:992px){
	body{
		padding: 0;
	}
}
